# ---------- repo-specific
/data/
/experiments/
/provided_embeddings*/
/provided_models*/
/provided_profiling*/
/rt_yc2_feat/
/tests_*/
/cache_caption/
/annotations/
/error_analysis/
/ponnet_data/
/assets/
/pretrained*/
/wandb/
/BDD-X-Dataset/
/out/
/tmp_img*/


# ---------- general

# big files
*.npz
*.h5
*.bin
*.gz
*.pkl
*.pt
*.png
*.txt
*-ubyte

# pycharm
.idea/
*/.idea/

# temp files
.directory
nohup.out
~$*.*
.nfs*
.DS_Store
*.swp
*.exe.stackdump
.~lock.*

# python
__pycache__/
.pytest_cache/
.ipynb_checkpoints
.mypy_cache/
.dmypy.json
dmypy.json
.python-version

# testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

fiveTime.sh